@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: "zocial", sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}
